/* === Estilo para tarjeta de formulario en contenido principal === */
.form-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: auto;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  color: #333;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccd6f6;
  border-radius: 8px;
  font-size: 16px;
}

button[type="submit"] {
  align-self: flex-end;
  background-color: #1b4de4;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3b6df2;
}

input,
textarea,
select,
button {
  font-family: "Poppins", sans-serif;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 35px; /* espacio a la izquierda para el símbolo */
  border: 1px solid #ccd6f6;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
}

.input-symbol {
  position: absolute;
  left: 12px;
  color: #666;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
/*img input*/
.preview-img {
  max-width: 150px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.upload-box {
  width: 100%;
  max-width: 300px;
  height: 200px;
  border: 2px dashed #1b4de4;
  border-radius: 12px;
  background-color: #f0f4ff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: background 0.3s;
}

.upload-box:hover {
  background-color: #e6eeff;
}

#upload-text {
  font-size: 16px;
  color: #1b4de4;
  z-index: 2;
}

.preview-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
